---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Profile from '@/components/sites/profile';
import ModeToggle from '@/components/sites/mode-toggle';
---

<Layout title="Yoga Permana">
	<main>

    <nav class="w-full flex py-4 px-4 lg:px-0 justify-between items-center container mx-auto">
      <div class="flex gap-4">
        <p class="cursor-pointer hover:underline">home</p>
        <p class="cursor-pointer hover:underline">blog</p>
        <p class="cursor-pointer hover:underline">works</p>
      </div>
      <ModeToggle client:only="react"/>
    </nav>

    <Profile />
	</main>
</Layout>
